Flask==1.0.2
# Flask==0.10.1
# Werkzeug==0.12.2
# Flask-CORS==3.0.3
requests==2.20.0
flasgger==0.9.1
git+https://git@github.com/uc-cdis/authutils.git@3.0.1#egg=authutils
git+https://git@github.com/uc-cdis/cdiserrors.git@0.1.0#egg=cdiserrors
git+https://git@github.com/uc-cdis/cdislogging.git@0.0.2#egg=cdislogging
git+https://git@github.com/uc-cdis/cdis-python-utils.git@0.2.10#egg=cdispyutils
git+https://github.com/uc-cdis/cirrus.git@0.1.8#egg=cirrus
git+https://git@github.com/uc-cdis/datadictionary.git@1.1.0#egg=gdcdictionary
git+https://git@github.com/uc-cdis/datamodelutils.git@0.4.0#egg=datamodelutils
git+https://git@github.com/uc-cdis/indexclient.git@1.5.7#egg=indexclient
git+https://git@github.com/NCI-GDC/psqlgraph.git@1.2.0#egg=psqlgraph
git+https://git@github.com/uc-cdis/userdatamodel.git@1.1.7#egg=userdatamodel
