Flask==1.0.2
requests==2.20.0
-e git+https://git@github.com/NCI-GDC/psqlgraph.git@1.2.0#egg=psqlgraph
-e git+https://git@github.com/uc-cdis/userdatamodel.git@1.0.4#egg=userdatamodel
-e git+https://git@github.com/uc-cdis/cdis-python-utils.git@0.1.5#egg=cdispyutils
-e git+https://git@github.com/uc-cdis/datamodelutils.git@0.4.0#egg=datamodelutils
-e git+https://git@github.com/uc-cdis/cdiserrors.git@0.0.4#egg=cdiserrors
-e git+https://git@github.com/uc-cdis/cdislogging.git@master#egg=cdislogging
-e git+https://git@github.com/uc-cdis/authutils.git@1.1.2#egg=authutils
-e git+https://github.com/uc-cdis/cirrus.git@0.0.0#egg=cirrus-0.0.0
-e git+https://git@github.com/uc-cdis/datadictionary.git@1.1.0#egg=gdcdictionary
-e git+https://git@github.com/uc-cdis/indexclient.git@1.5.4#egg=indexclient