dist: xenial
language: python
python:
- 3.6
cache:
- pip
- apt
install:
- pip install pipenv
- pipenv install --dev --deploy
- pipenv graph
script:
- pipenv run py.test -vv --cov={{ cookiecutter.package_name }} --cov-report xml tests
- pipenv run python th_wrapper.py -w truffles.json -c thog_config.json -g file:///${PWD}/ --check
after_script:
- pipenv run python-codacy-coverage -r coverage.xml
{%- if cookiecutter.package_type == 'Library' %}
before_deploy:
- sed -i.bak "s/=get_version()/='$TRAVIS_TAG'/g" setup.py
- cat setup.py
- if [ $(python setup.py --version) == '0.0.0' ]; then travis_terminate 1; fi
deploy:
  provider: pypi
  user: uc-ctds
  skip_existing: true
  skip_cleanup: true
  on:
    tags: true
{%- endif %}
